@model _23092019_dotNet2.Models.tbl_Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="col-12">Thêm thông tin bệnh nhân hẹn khám</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Họ và tên
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Ngày sinh
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Giơi tính
            </div>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.gender, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.gender, new List<SelectListItem>
                            {
                                new SelectListItem { Text = "Nam", Value = "1", Selected=true},
                                new SelectListItem { Text = "Nữ", Value = "0"},
                                new SelectListItem { Text = "LGBT", Value = "3"}
                            }, "Chọn giới tính",
                            new { style = "width: 100%; height: 44px; border: none" })
                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Số điện thoại
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                UserName
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                UserID
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Ảnh đại diện
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.avatar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.avatar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Facebook
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.facebook, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facebook, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                CustomerType
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.customerType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.customerType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                ServiceUnitID
            </div>
            <div class="col-md-10">
                @Html.DropDownList("serviceUnitId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.serviceUnitId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                ServiceUnitName
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.serviceUnitName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.serviceUnitName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6 ">
            <div class="control-label col-md-12">
                Quantity
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                BookingDate
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.bookingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bookingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                ComingDate
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.comingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comingDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                ReappointmentDate
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.reappointmentDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reappointmentDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                Bác sĩ
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.doctor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.doctor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <div class="control-label col-md-12">
                OfficeID
            </div>
            <div class="col-md-10">
                @Html.DropDownList("officeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.officeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-6">
            <div class="control-label col-md-12">
                OfficeName
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.officeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.officeName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-12">
            <div class="control-label col-md-12">
                Trạng thái
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group col-12">
            <div class="col-md-offset-2 col-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
        
}

<div class="col-12">
    @Html.ActionLink("Back to List", "Index")
</div>
