@model _23092019_dotNet2.Models.tbl_Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">

    <div>
        <h4>tbl_Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.avatar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.avatar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.facebook)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.facebook)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.customerType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.serviceUnitName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.serviceUnitName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bookingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bookingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.comingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.comingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.reappointmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.reappointmentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.doctor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.doctor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.officeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.officeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updatedTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updatedTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbl_Office.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Office.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbl_ServiceUnit.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_ServiceUnit.name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
