@model _23092019_dotNet2.Models.tbl_Group

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h3>Xóa</h3>

<h3>Bạn có chắc chắn muốn xóa nhóm này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhóm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
           Mô tả nhóm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
           Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
</div>