@model _23092019_dotNet2.Models.tbl_Office

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
<h2>Thêm cơ sở</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-6">
                <div class="col-12">
                    Tên cơ sở
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <div class="col-12">
                    Địa chỉ
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <div class="col-12">
                    Số điện thoại
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <div class="col-12">
                    Email
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-6">
                <div class="col-12">
                    Quản lý
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.manager, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.manager, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <div class="col-12">
                    Mô tả chi tiết
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-12">
                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="row">
            <div class="form-group col-6">
                <div class="col-12">Ngày khai trương</div>
                <div class="col-12">
                    @Html.EditorFor(model => model.startedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.startedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-6">
                <div class="col-12">
                    Ngày đóng cửa
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>