@model _23092019_dotNet2.Models.tbl_Office

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Chỉnh sửa cơ sở</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="row">
                <div class="form-group col-6">
                    <div class="control-label col-md-12">
                        Tên cơ sở
                    </div>
                    <div class="col-12">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-6">
                    <div class="control-label col-md-12">
                        Địa chỉ
                    </div>
                    <div class="col-12">
                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <div class="control-label col-md-12">
                        Điện thoại
                    </div>
                    <div class="col-12">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-6">
                    <div class="control-label col-md-12">
                        Email
                    </div>
                    <div class="col-12">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <div class="control-label col-md-12">
                        Giám đốc
                    </div>
                    <div class="col-12">
                        @Html.EditorFor(model => model.manager, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.manager, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-6">
                    <div class="control-label col-md-12">
                        Miêu tả
                    </div>
                    <div class="col-12">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-12">
                    Trạng thái
                </div>
                <div class="col-12">
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>



            @*<div class="form-group col-6">
                        <div class="control-label col-md-12">
                            Miêu tả
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.startedDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.startedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <div class="control-label col-md-12">
                            Trạng thái
                        </div>
                        @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*<div class="form-group col-6">
                        <div class="control-label col-md-12">

                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.createdTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.createdTime, "", new { @class = "text-danger" })
                        </div>
                    </div>


                <div class="form-group col-12">
                    @Html.LabelFor(model => model.updatedTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.updatedTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.updatedTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.createdBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.createdBy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.createdBy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.updatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.updatedBy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.updatedBy, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="row">
                <div class="form-group col-12">
                    <div class="col-md-offset-2 col-12">
                        <input type="submit" value="Edit" class="btn btn-default" />
                    </div>
                </div>
            </div>

        </div>
    }

    <div class="col-12">
        @Html.ActionLink("Back to List", "Index")
    </div>
