@model _23092019_dotNet2.Models.tbl_Payment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Bạn có chắc chắn muốn xóa?</h3>
    <div class="col-12">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.customerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.serviceUnitName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.serviceUnitName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.doctor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.doctor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.totalFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.totalFee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.paidFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.paidFee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.debtFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.debtFee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.payTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.paymentType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.paymentType)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.createdTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.updatedTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.updatedTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.updatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.updatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tbl_MedicalBill.billCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tbl_MedicalBill.billCode)
                </dd>*@
        </dl>
    </div>
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
