@model IEnumerable<_23092019_dotNet2.Models.tbl_CustomerBooking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_MedicalBill.billCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_MedicalBill1.billCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Office.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Office1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Product.productCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Product1.productCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_ServiceUnit.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_ServiceUnit1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_MedicalBill.billCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_MedicalBill1.billCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Office.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Office1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Product.productCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Product1.productCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_ServiceUnit.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_ServiceUnit1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
