@model IEnumerable<_23092019_dotNet2.Models.tbl_Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 products_list">
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <h4>DANH SÁCH SẢN PHẨM</h4>
            <button style="width: 10%" type="button" class="btn btn-success"><i class="fas fa-plus-circle mr-1"></i>    @Html.ActionLink("Create New", "Create")</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Tên thể loại
                        </th>
                        <th>
                            Hình ảnh
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>Thao tác</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.productName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productCategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.urlImage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.priceOne)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
