
@{
    ViewBag.Title = "PaymentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 payment_profile">
    <div class="card">
        <div class="card-header">
            <div class="float-right">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <h4>Danh sách tổng</h4>
            <button style="width: 10%" type="button" class="btn btn-success"><i class="fas fa-plus-circle mr-1"></i>Thêm mới</button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Tên dịch vụ
                        <th>
                            Bác sĩ
                        </th>
                        <th>
                            Tổng chi phí
                        </th>
                        <th>
                            Đã trả
                        </th>
                        <th>
                            Còn nợ
                        </th>
                        <th>
                            PTTT
                        </th>
                        <th>Thao tác</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.customerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.serviceUnitName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.doctor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paidFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.debtFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.paymentType)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

